/*:root {
    --dark-green: #013220;
    --pakistan-green: #014421;
    --hunter-green: #355E3B;
    --moss-green: #8A9A5B;
    --sage: #BCB88A;
    --timberwolf: #DAD7CD;
    --brunswick-green: #344E41
  }
:root {
    --dark-green: #094A25;
    --light-green: #0C6B37;
    --yellow: #F8B324;
    --orange: #EB442C;
    --red: #BC2023;
    --sage: #BCB88A;
    --timberwolf: #DAD7CD;
}
*/

:root {
    --dark-primary: #12343b;
    --light-primary: #e1b382;
    --dark-secondary: #2d545e;
    --light-secondary: #c89666;
    --text-color: #dad7cd;
}